.header {
    margin-bottom: 24px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--detail-grey);
}

.row {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 24px;
}

.search {
    display: flex;
    gap: 24px;
    width: 70%;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--light-blue-grey);
    padding: 8px;
    border-radius: 5px;
}

.filtericon {
    width: 24px;
    height: auto;
    cursor: pointer;
}

.left {
    display: flex;
    gap: 24px;
}

.icon {
    width: 26px;
    height: auto;
    cursor: pointer;
}

.carticon {
    position: relative;
    display: flex;
    padding-right: 10px;
}

.cartnumber {
    color: var(--white);
    font-size: 12px;
    text-align: center;
    background-color: var(--brand-red);
    border-radius: 50%;
    padding: 1px 5px;
    width: 18px;
    position: absolute;
    top: 0;
    right: 0;
}